<html>
<head>
	<title>CARS!</title>
	<style type="text/css">
	img {
		display: block;
	}
	a {
		font-size: 20px;
	}
	</style>
</head>
<body>
	<h1>CARS!!</h1>
	<a href="cars/new.html">Add New Car</a>
	<img src="http://i2.cdnds.net/13/27/618x324/movies-transformers-4-cars-in-pictures-1.jpg">
	<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRluelH3SEU8nt9EshtEOi1Qe8-44HUzQwbq5vX2qIORUX7ZoUH2g">
	<img src="http://www.blogcdn.com/www.autoblog.com/media/2007/06/inside_drives_bumblebee.jpg">
	<img src="http://s1.cdn.autoevolution.com/images/news/optimus-prime-wannabe-for-sale-on-ebay-8545_2.jpg">
	<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS07MuNNbJ_WYatIhb1_sBR63K0yB38Ie97rRtM-3PZY0_uM7rmJQ">
	<a href="/">Back</a>
</body>
</html>